.content {
    padding: 20px;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 45px;

}

.content__input {
    padding: 7px;
    margin-left: 50px;
    border: 1px solid black;
}

.submit {
    border: 3px solid black;
    padding: 25px 95px 25px 65px;
    display: inline;
    margin-left: 70px;
}

#table {
    margin: 50px;
    width: 100%;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    border: 1px;
}

.content__msg {
    color: red;
    margin-left: 25px;
}